# Environment variables for the Bookmark Service
REDIS_ADDRESS=YOUR_REDIS_ADDRESS
BASE_PATH=YOUR_BASE_PATH
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR__DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME

# Environment variables for the Postgres Service
POSTGRES_USER=YOUR_DB_USER
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
POSTGRES_DB=YOUR_DB_NAME